
<div class="container my-4">
    <h2>About</h2>
    <section class="bg-light page-section" id="team">
        <div class="col-12" style="font-size: large">

            <p class="mx-2">This publication is a part of our project in using APIs to acquire data and accelerate them into insightful knowledge.</p>
            <p class="mx-2">
                We are a consulting and technology services provider at the cutting-edge of technology with more than 10 years of experience in
                offering big data analytic solutions and data science to various companies across several industries in tourism, retail,
                financial services, software, and more.
            </p>
            <p class="mx-2">We gather, analyze, transform data and enable enterprises to do business better.</p>
        </div>

    </section>
</div>



