@{
    ViewBag.Title = "Download data from Weather API";
}
    <div class="container">
        <h2>@ViewBag.Title.</h2>
        <p>@ViewBag.Message</p>

        <hr class="w-100 border-primary" />
        <div class="row m-1">
            @Html.ActionLink("Get Data", "GetDataFromAPI", "Home", new { area = "" }, new { @class = "btn btn-primary" })
        </div>
    </div>
